.PollPublish {
  .spinner {
    text-align: center;
  }
  .pt-select {
    width: 100%;
    select {
      width: 100%;
    }
  }
  .pt-tag {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}