@font-face {
  font-family: CircularStdBoldest;
  src: url(/fonts/CIRCULARSTD-BLACK_0.ttf);
}

@font-face {
  font-family: CircularStdBold;
  src: url(/fonts/CIRCULARSTD-BOLD.ttf);
}

@font-face {
  font-family: CircularStd;
  src: url(/fonts/CIRCULARSTD-BOOK_0.ttf);
}